

.block1 {

    position: relative;
    font-family: Roboto;
}

.block1__container {

}

.block1__body {


    position: relative;
    z-index: 2;
    max-width: 968px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 306px 0px 165px 0px;
    margin-left: 100px;


}

.block1__text__button {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block1__h {
    max-width: 400px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 100%;
    padding-top: 75px;
    color: white;


}

.block1__p {
    padding: 6% 0;
    max-width: 400px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 116%;
    color: white;
}

.block1__button {

    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 116%;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    font-family: Roboto;
    margin: 0 0 20px 0px;
}

.block1__image {

}

.background__img {
    z-index: 1;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 992px) {
    .block1__body {
        margin-left: 75px;
    }


    .block1__image {
        width: 100%;
        height: 100%;
    }

    .block1__button {
        font-size: 18px;


    }
}

@media (max-width: 767px) {
    .block1__body {
        margin-left: 50px;
        align-items: center;
    }


}

@media (max-width: 467px) {
    .block1__body {
        margin-left: 0px;
    }


    .block1__text__button p, button {
        font-size: 18px;
    }


    .block1__text__button h1 {
        font-size: 24px;
        padding: 8px 30px
    }
}

/* ----Main-Block2------------------------------------------------------------------------ */
.block2 {

}

.block2__container {

}

.block2__body {
    padding: 99px 0 67px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block2__p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    color: #000000;
    max-width: 643px;
}

.block2__image {

}

@media (max-width: 467px) {
    .block2__image {
        width: 100%;
        height: 100%;
    }

    .block2__body p {
        font-size: 20px;
    }


}

