{% extends "body.html" %}
{% block all %}
    <div class="block1">
        <div class="block1__container _container">
            <div class="block1__body">
                <ul class="block1__list">
                    <li class="block1__item"
                    ><a href="" class="block1__link">Цвет</a>
                    </li>
                    <li class="block1__item">
                        <a href="" class="block1__link">Цена</a>
                    </li>
                    <li class="block1__item">
                        <a href="" class="block1__link">Название</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block2">

        <div class="block2__container _container">
        <form action="{% url "show_filter" %}" method="get">
        <select name="size">
            <option selected="selected" value="all">Objects on page:</option>
            <option value="11">11</option>
            <option value="20">20</option>
            <option value="34">34</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>

        <select name="season">
            <option selected="selected" value="all" >Objects on page:</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="winter">winter</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        <select name="composition">

            <option selected="selected" value="all" >Objects on page:</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="winter">winter</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        <select name="brand">

            <option selected="selected" value="all" >Objects on page:</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="winter">winter</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
        {% block title %}

        {% endblock title %}
    </form>
            <div class="block2__body">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock all %}
