{% extends "body.html" %}
{% block all %}
    <div class="block1">
        <div class="block1__container _container">
            <div class="block1__body">
                <ul class="block1__list">
                    <li class="block1__item"
                    ><a href="" class="block1__link">Цвет</a>
                    </li>
                    <li class="block1__item">
                        <a href="" class="block1__link">Цена</a>
                    </li>
                    <li class="block1__item">
                        <a href="" class="block1__link">Название</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="block2__container _container">
            <div class="block2__body">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock all %}
