{% extends "head_body.html" %}
{% load static %}
{% block all %}
    <div class="wrapper">
        {% include "header.html" %}
        <main>
            <div class="block1">
                <div class="block1__container _container">
                    <div class="block1__body">
                        <ul class="block1__list">
                            <li class="block1__item ">
                                <a href="#" id="log_click" class="block1__link_active"
                                   onclick="showLogin()">Вход</a>
                            </li>
                            <li class="block1__item">
                                <a href="#" id="reg_click" class="block1__link_inactive"
                                   onclick="showRegistration()">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="block2">
                <div class="block2__container _container">
                    <div class="block2__body">

                        <ul class="block2__login_active" id="log">
                            <li class="block2__input">
                                <p>Username:</p>
                                {{ form2.username }}
                            </li>
                            <li class="block2__input">
                                <p>Password:</p>
                                {{ form2.password1 }}
                            </li>
                            <li class="block__input">
                                <button class="login__button">Войти</button>
                            </li>
                        </ul>

                        <ul class="block2__registration_inactive" id="reg">
                            <li class="block2__input">
                                <p>Логин:</p>
                                {{ form2.username }}
                            </li>
                            <li class="block2__input">
                                <p>Пароль:</p>
                                {{ form2.password1 }}
                            </li>
                            <li class="block2__input">
                                <p>Повторите:</p>
                                {{ form2.password2 }}
                            </li>
                            <li class="block2__input">
                                <p>Почта:</p>
                                {{ form2.email }}
                            </li>
                            <li class="block2__input">
                                <p>Фамилия:</p>
                                {{ form2.last_name }}
                            </li>
                            <li class="block2__input">
                                <p>Имя:</p>
                                {{ form2.first_name }}
                            </li>
                            <li class="block__input">
                                <button class="registration__button">Регистрация</button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </div>
{% endblock all %}



