<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% block all %}

    {% endblock all %}

    <script src="/static/js/app.js"></script>

    {% if request.user.is_authenticated %}

        <script>
            document.querySelector("#home,#about,#login,#logout,#contacts,#bucket").classList.remove('h-menu__item');
            document.querySelector("#home,#about,#login,#logout,#contacts,#bucket").classList.add('h-menu__item_long');
        </script>
    {% endif %}

</body>

</html>
