{% load static %}
<footer>
    <div class="footer__container _container">
        <a href="{% url "show_home" %}">
            <img src="{% static "img/Logo.png" %}" alt="" class="footer__logo">
        </a>
        <nav class="f-menu">
            <ul class="f-menu__list">
                <li class="f-menu__item"><a href="{% url "show_about" %}" class="f-menu__link">Контакты</a></li>
                <li class="f-menu__item"><a href="{% url "show_contacts" %}" class="f-menu__link">О нас</a></li>
                <li class="f-menu__item"><a href="" class="f-menu__link">Поддержка</a></li>
            </ul>
        </nav>
        <div class="f-menu-links">
            <ul class="f-m-links__list">
                <li class="f-m-links__item">
                    <a href="" class="f-m-links__link">
                        <img src="{% static "img/Instagram.svg" %}" alt=""
                             class="f-m-links__img">
                    </a>
                </li>
                <li class="f-m-links__item">
                    <a href="" class="f-m-links__link">
                        <img src="{% static "img/Telegram.svg" %}" alt="" class="f-m-links__img">
                    </a>
                </li>
                <li class="f-m-links__item">
                    <a href="" class="f-m-links__link">
                        <img src="{% static "img/Facebook.svg" %}" alt="" class="f-m-links__img">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
