{% load static %}
<header>

    <div class="_container header__container">
        <a href="">
            <img src="{% static "img/Logo.png" %}" alt="" class="header__logo">
        </a>
        <nav class="h-menu">
            <ul class="h-menu__list">
                <li class="h-menu__item">
                    <a href="{% url "Home" %}" class="h-menu__link">Главная</a>
                </li>
                <li class="h-menu__item hi ">
                    <a href="{% url 'show_products' %}" class="h-menu__link ">Цветы+</a>
{#                    <ul class="products__list">#}
{#                        <li class="products__item"><a href="" class="products__a">Одежда</a></li>#}
{#                        <li class="products__item"><a href="" class="products__a">Одежда</a></li>#}
{#                        <li class="products__item"><a href="" class="products__a">Одежда</a></li>#}
{#                        <li class="products__item"><a href="" class="products__a">Одежда</a></li>#}
{#                    </ul>#}
                </li>
                <li class="h-menu__item">
                    <a href="{% url "show_about" %}" class="h-menu__link">О нас</a>
                </li>
                <li class="h-menu__item">
                    <a href="{% url "show_contacts" %}" class="h-menu__link">Контакты</a>
                </li>
                <li class="h-menu__item" style="display: flex;align-items: center">
                    <a href="{% url "show_bucket" %}" class="h-menu__link">
                        Корзина
                        <img src="{% static "img/Shopping-cart.png" %}" alt="" class="cart__img">
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>
