{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{% static "css/MainPage/style.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="_container header__container">
            <a href="">
                <img src="{% static "img/imgonline-com-ua-Resize-sNwZ7uU0Hxxw17wV.png" %}" alt="" class="header__logo">
            </a>
            <nav class="h-menu">
                <ul class="h-menu__list">
                    <li class="h-menu__item">
                        <a href="" class="h-menu__link">Главная</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="" class="h-menu__link">Цветы</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="" class="h-menu__link">О нас</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="" class="h-menu__link">Контакты</a>
                    </li>
                    <li class="h-menu__item" style="display: flex;align-items: center">
                        <a href="" class="h-menu__link">
                            Корзина
                        </a>
                    </li>

                </ul>
            </nav>

        </div>
    </header>
    <main class="">
        <div class="block1">
            <div class="block1__container _container">
                <div class="block1__body">
                    <div class="block1__text__button">
                        <h1 class="block1__h">Цветы не решают всех проблем, но они - хорошее начало</h1>
                        <p class="block1__p">Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие годы</p>
                        <a href="">
                            <button type="submit" class="block1__button">Приобрести цветочки</button>
                        </a>
                    </div>
                    <img src="{% static "img/imgonline-com-ua-Resize-YgYIzZDhwH0.png" %}" alt="" class="block1__image">
                </div>
            </div>
            <div class="_ibg background__img">
                <img src="{% static "img/image 1 (1).png" %} " alt="" class="">
            </div>
        </div>
        <div class="block2">
            <div class="block2__container _container">
                <div class="block2__body">
                    <p class="block2__p">
                        Цветы используются для выражения любви, печали, горя, печали, и даже благодарности. Они могут
                        выразить те чувства, которые трудно выразить словами. Розы стали символом романтических
                        отношений между парами. Букет из красных роз - самый популярный подарок, передающий теплоту
                        чувств. Помимо того, что цветы используются для художественного оформления помещений, они
                        используются для улучшения настроения. Они магическим образом освежают атмосферу, успокаивают
                        нервы, наполняют помещение ароматом.
                    </p>
                    <img src="{% static "img/imgonline-com-ua-Resize-wZf6UjCviSnRC6m.png" %}" alt=""
                         class="block2__image">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__container _container">
            <a href="">
                <img src="{% static "img/imgonline-com-ua-Resize-sNwZ7uU0Hxxw17wV.png" %}" alt="" class="footer__logo">
            </a>
            <nav class="f-menu">
                <ul class="f-menu__list">
                    <li class="f-menu__item"><a href="" class="f-menu__link">Контакты</a></li>
                    <li class="f-menu__item"><a href="" class="f-menu__link">О нас</a></li>
                    <li class="f-menu__item"><a href="" class="f-menu__link">Поддержка</a></li>
                </ul>
            </nav>
             <div class="f-menu-links">
                <ul class="f-m-links__list">
                    <li class="f-m-links__item">
                        <a href="" class="f-m-links__link">
                            <img src="{% static "img/free-icon-instagram-733558 1 (1).svg" %}" alt="" class="f-m-links__img">
                        </a>
                    </li>
                    <li class="f-m-links__item">
                        <a href="" class="f-m-links__link">
                            <img src="{% static "img/telegram 1 (1).svg" %}" alt="" class="f-m-links__img">
                        </a>
                    </li>
                    <li class="f-m-links__item">
                        <a href="" class="f-m-links__link">
                            <img src="{% static "img/facebook 1 (1).svg" %}" alt="" class="f-m-links__img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</div>
</body>
</html>
